<bit-dialog class="tw-text-start">
  <div bitDialogTitle>
    <p style="text-transform: uppercase">{{ "areYouTryingtoLogin" | i18n }}</p>
  </div>
  <div bitDialogContent>
    <p>{{ "logInAttemptBy" | i18n : email }}</p>
    <div>
      <b>{{ "fingerprintPhraseHeader" | i18n }}</b>
      <p class="fingerprint-text">{{ fingerprintPhrase }}</p>
    </div>
    <div>
      <b>{{ "deviceType" | i18n }}</b>
      <p>{{ authRequestResponse?.requestDeviceType }}</p>
    </div>
    <div>
      <b>{{ "ipAddress" | i18n }}</b>
      <p>{{ authRequestResponse?.requestIpAddress }}</p>
    </div>
    <div>
      <b>{{ "time" | i18n }}</b>
      <p>{{ requestTimeText }}</p>
    </div>
  </div>
  <div bitDialogFooter>
    <button bitButton buttonType="primary" (click)="approveLogin(true, true)">
      {{ "confirmLogIn" | i18n }}
    </button>
    <button bitButton buttonType="secondary" bitDialogClose (click)="approveLogin(false, true)">
      {{ "denyLogIn" | i18n }}
    </button>
  </div>
</bit-dialog>
