<bit-dialog>
  <div bitDialogContent>
    <form #form [appApiAction]="formPromise" (ngSubmit)="submit()" [formGroup]="deleteForm">
      <p class="modal-text">{{ "deleteAccountDesc" | i18n }}</p>
      <app-callout type="warning" title="{{ 'warning' | i18n }}">
        {{ "deleteAccountWarning" | i18n }}
      </app-callout>
      <div class="box last">
        <h1 class="box-header" id="deleteAccountTitle">
          {{ "deleteAccount" | i18n }}
        </h1>
        <app-user-verification
          ngDefaultControl
          formControlName="verification"
          name="verification"
        />
        <div id="confirmIdentityHelp" class="box-footer">
          <p>{{ "confirmIdentity" | i18n }}</p>
        </div>
      </div>
    </form>
  </div>
  <div bitDialogFooter>
    <button type="submit" class="danger" [disabled]="form.loading || !secret">
      <i class="bwi bwi-spinner bwi-spin" [hidden]="!form.loading" aria-hidden="true"></i>
      <span [hidden]="form.loading">{{ "deleteAccount" | i18n }}</span>
    </button>
    <button type="button" data-dismiss="modal" [disabled]="form.loading">
      {{ "cancel" | i18n }}
    </button>
  </div>
</bit-dialog>
